.wzlnav {
  margin-left: 12%;
}
.indexnav {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0;
  height: 75px;
  padding-top: 12px;
}
.abc {
  height: 100%;
}
#headerZTJX {
  color: #fff;
}
#headerZTJX {
  color: #fff;
}
li:hover #headerZTJX {
  color: #ccc;
}
.welcome{
  display: none;
  color: #fff;
  margin-top: 15px;
}
#zhuxiao{
  color: #fff;
}
.box-search{
position: relative;
}
.search-UL{
  list-style: none;
  color: #000;
  background: #ccc;
  width: 200px;
  position: absolute;
  top: 54px;
  right: 307px;
  padding: 0px;
}
.search-LI{
  padding: 0px;
}